.advice {
  color:blue;
  margin: 0;
}

.container {
  padding: 4px;
  width: 100%;
  height: 1200px;  
  background-position: center;
  background-image: url("../public/Backgr.jpg");
  background-size: cover;
}