.user {
  background-position: center;
  background-image: url("../public/Fotos\ para\ portadas\ y\ fondos\ -\ Fondos\ para\ Whatsapp.jpg");
  background-size: cover;
  h1 {
    color: rgb(4, 4, 80);
  }
}